@import url(https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
main {
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 70%;
  margin: 0 auto;
  /* background-color: #ddd; */
  background: linear-gradient(
    135deg,
    rgba(209, 209, 209, 1) 0%,
    rgb(184, 187, 209) 20%,
    rgba(207, 207, 207, 1) 47%,
    rgb(209, 213, 231) 77%,
    rgba(224, 224, 224, 1) 100%
  );
  /* background: radial-gradient(circle at 100% 0%, #b6cde8, transparent 60%),
    linear-gradient(65deg, #dfdfdf, rgb(190, 190, 190) 50%); */
  border-radius: 30rem;
}
section {
  position: relative;
  height: 100%;
}
#poster {
  width: 50%;
  border-radius: 30rem;
  overflow: hidden;
}
#description {
  width: 50%;
  height: 100%;
  padding: 20rem;
}
#desription article {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
#description h1 {
  font-size: 52rem;
  font-weight: 500;
}
#description p {
  font-size: 20rem;
}
#description article {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
.descriptionNames {
  display: flex;
  gap: 40rem;
}
.descriptionColumn {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
  }
  main {
    flex-direction: column;
    width: 100%;
  }
  section,
  #poster,
  #description {
    width: 100%;
  }
  #description {
    padding: 40rem;
  }
  #description h1 {
    font-size: 70rem;
  }
  #description p {
    font-size: 40rem;
  }
}

@media screen and (max-width: 500px) {
  #description {
    padding: 60rem;
    margin-top: 300rem;
  }
  #description article {
    gap: 60rem;
  }
  #description h1 {
    font-size: 120rem;
  }
  #description p {
    font-size: 80rem;
  }
}

html {
  font-size: calc(1vw / 11.9);
}
#poster h1 {
  font-family: 'Instrument Serif', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 61rem;
  line-height: 1;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #e5e5e5 0%,
    #7f7f7f 48.86%,
    #e5e5e5 94.41%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#poster p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 8rem;
  background: linear-gradient(0deg, #e5e5e530, #e5e5e530),
    linear-gradient(90deg, #e5e5e5 10%, #3e3e3e 40%, #e5e5e5 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 0 16rem;
}
#poster p span {
  font-weight: bold;
}
#juno {
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 16rem;
  aspect-ratio: 1 / 1.4142;
}
video {
  height: 420rem;
  object-fit: cover;
  object-position: center;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20rem;
}
.logo {
  display: flex;
  gap: 45rem;
}
.logo img {
  height: 25rem;
}

@media screen and (max-width: 1280px) {
  video {
    height: 500rem;
  }
}

@media screen and (max-width: 1024px) {
  video {
    height: 525rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(1vw / 6);
  }
  #poster p {
    font-size: 14rem;
  }
  #juno {
    gap: 30rem;
    padding-bottom: 30rem;
  }
  video {
    height: 625rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: calc(1vw / 4.8);
  }
  video {
    height: 600rem;
  }
  #poster h1 {
    font-size: 70rem;
  }
}

