* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
main {
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 70%;
  margin: 0 auto;
  /* background-color: #ddd; */
  background: linear-gradient(
    135deg,
    rgba(209, 209, 209, 1) 0%,
    rgb(184, 187, 209) 20%,
    rgba(207, 207, 207, 1) 47%,
    rgb(209, 213, 231) 77%,
    rgba(224, 224, 224, 1) 100%
  );
  /* background: radial-gradient(circle at 100% 0%, #b6cde8, transparent 60%),
    linear-gradient(65deg, #dfdfdf, rgb(190, 190, 190) 50%); */
  border-radius: 30rem;
}
section {
  position: relative;
  height: 100%;
}
#poster {
  width: 50%;
  border-radius: 30rem;
  overflow: hidden;
}
#description {
  width: 50%;
  height: 100%;
  padding: 20rem;
}
#desription article {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
#description h1 {
  font-size: 52rem;
  font-weight: 500;
}
#description p {
  font-size: 20rem;
}
#description article {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
.descriptionNames {
  display: flex;
  gap: 40rem;
}
.descriptionColumn {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
  }
  main {
    flex-direction: column;
    width: 100%;
  }
  section,
  #poster,
  #description {
    width: 100%;
  }
  #description {
    padding: 40rem;
  }
  #description h1 {
    font-size: 70rem;
  }
  #description p {
    font-size: 40rem;
  }
}

@media screen and (max-width: 500px) {
  #description {
    padding: 60rem;
    margin-top: 300rem;
  }
  #description article {
    gap: 60rem;
  }
  #description h1 {
    font-size: 120rem;
  }
  #description p {
    font-size: 80rem;
  }
}
