@import 'reset.css';
@import 'fonts.css';

h1 {
  font-weight: 700;
  font-size: 150rem;
  text-transform: uppercase;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 300;
}
h2 {
  font-weight: 500;
  font-size: 58rem;
  line-height: 64rem;
  margin-bottom: 40rem;
}
p {
  font-weight: 400;
  font-size: 28rem;
  line-height: 36rem;
  margin: 20rem 0;
}
header,
section {
  width: 1400rem;
  height: calc(100vh - 40rem);
  margin: 20rem auto;
  background-color: #242424;
  border-radius: 50rem;

  display: flex;
}
header {
  align-items: center;
  padding: 50rem;
}
section {
  justify-content: space-between;
  overflow: hidden;
}
.img {
  background-color: #eee;
  width: 40%;
  height: 100%;
}
.text {
  padding: 50rem;
  width: 60%;
}
