@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'base.css';

#poster h1 {
  font-family: 'Instrument Serif', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 61rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #e5e5e5 0%,
    #7f7f7f 48.86%,
    #e5e5e5 94.41%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#poster p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 8rem;
  background: linear-gradient(0deg, #e5e5e530, #e5e5e530),
    linear-gradient(90deg, #e5e5e5 10%, #3e3e3e 40%, #e5e5e5 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 0 16rem;
}
#poster p span {
  font-weight: bold;
}
#juno {
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-bottom: 16rem;
  aspect-ratio: 1 / 1.4142;
}
video {
  height: 420rem;
  object-fit: cover;
  object-position: center;
  margin: 80rem 0;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20rem;
}
.logo {
  display: flex;
  gap: 45rem;
}
.logo img {
  height: 25rem;
}

@media screen and (max-width: 1280px) {
  video {
    height: 500rem;
  }
}

@media screen and (max-width: 1024px) {
  video {
    height: 525rem;
    margin: 50rem 0;
  }
}

@media screen and (max-width: 768px) {
  #poster p {
    font-size: 40rem;
  }
  #juno {
    gap: 50rem;
    padding: 50rem 50rem 100rem;
  }
  video {
    height: 1200rem;
  }
  #poster h1 {
    font-size: 190rem;
  }
}
