@import 'reset.css';
@import 'base.css';

#poster {
  width: calc(1190rem / 2.3);
  height: calc(1660rem / 2.31);
}
video {
  width: 100%;
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  #poster {
    width: 100%;
    height: 141.42vw;
  }
}
