@import 'reset.css';
@import 'base.css';
#poster {
  width: calc(1190rem / 2.3);
  height: calc(1660rem / 2.3);
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(163, 163, 163);
}
video {
  width: 100%;
  padding-top: 20%;
  border: none;
}
#poster h1 {
  color: #666eb4;
  font-size: 90rem;
  text-align: center;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}
#govorun {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  perspective-origin: calc(50% + 10rem) calc(50% - 10rem);
  perspective: 32em;
  background: linear-gradient(225deg, rgb(231, 231, 231), rgb(163, 163, 163));
  display: flex;
  flex-direction: column;
}

[type='checkbox'] {
  position: absolute;
  left: -100vw;
}

[type='checkbox'] + label {
  --s: 0;
  position: relative;
  border: solid 0.625rem #f0f0f0;
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  transform-style: preserve-3d;
  transform: rotatex(90deg) rotate(20deg) rotatey(15deg);
  box-shadow: 0.5rem 0.875rem 0 -0.25rem #e0e0e0,
    0.625rem 0.625rem 0 -0.25rem #e0e0e0,
    0.5rem 0.875rem 0.625rem -0.125rem rgba(191, 191, 191, 0.75),
    inset 0.125rem -0.125rem 0.5rem rgba(245, 245, 245, 0.5),
    inset 0.75rem 0.75rem #dfdfdf,
    inset 0.75rem 0.75rem 0.75rem rgba(191, 191, 191, 0.85),
    inset 0 1rem 0.75rem rgba(191, 191, 191, 0.65);
  color: transparent;
  font-size: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

[type='checkbox'] + label:before,
[type='checkbox'] + label:after {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: 0.35s cubic-bezier(0.21, 0.61, 0.35, 1);
  content: '';
}

[type='checkbox'] + label:before {
  top: calc(50% + 0.875rem);
  transform-origin: 100% 0;
  transform: translate(calc(var(--s) * (100% + 1rem))) scale(0.8)
    skewx(-22.5deg);
  background: radial-gradient(
    at 50% 25%,
    rgba(160, 160, 160, 0.65),
    transparent 70%
  );
  filter: blur(3px);
}

[type='checkbox'] + label:after {
  top: 0.875rem;
  left: 0.75rem;
  transform: translate(calc(var(--s) * (100% + 1rem))) rotatey(-22.5deg)
    rotate(-22.5deg) rotatex(-90deg) translatey(-50%) rotate(45deg);
  box-shadow: -1px 1px 0.125rem rgba(210, 206, 255, 0.5);
  background: radial-gradient(at 0 50%, #525aa0, transparent 2.5rem) 0 50% / 65%
      50% no-repeat,
    radial-gradient(at 50% 0%, #8891d1 15%, #6876b4 35%, #666eb4, #7777c2 65%)
      50% / 200%;
  filter: grayscale(calc(1 - var(--s)));
}

[type='checkbox']:checked + label {
  --s: 1;
}

.circle {
  display: block;
  overflow: visible;
  width: 90%;
  font-size: 2.1vw;
  fill: #666eb4;
  transform-style: preserve-3d;
  transform-origin: center;
  position: absolute;
  /* animation: rotate 10s infinite alternate; */
}
.circle:nth-of-type(1) {
  transform: rotatex(60deg) rotate(20deg) rotatey(8deg);
}
.circle:nth-of-type(2) {
  transform: rotatex(44deg) rotate(20deg) rotatey(146deg);
}
.circle:nth-of-type(3) {
  transform: rotatex(75deg) rotate(20deg) rotatey(56deg);
}

@keyframes rotate {
  from {
    transform: rotatex(60deg) rotate(20deg) rotatey(8deg);
  }
  to {
    transform: rotatex(60deg) rotate(20deg) rotatey(8deg);
  }
}

.circle path {
  fill: none;
  box-shadow: 0 1vw 1vw 0 rgba(100, 100, 100, 0.3);
}
.background {
  padding-top: 20%;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  main {
    width: 96%;
  }
  #poster {
    width: calc(1190rem / 1.6);
    height: calc(1684rem / 1.6);
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  #poster {
    width: 100%;
    height: 141.42vw;
  }
}
