@import 'reset.css';
@import 'base.css';
#poster {
  width: calc(1190rem / 2.3);
  height: calc(1660rem / 2.3);
  background-image: url('../images/poster7/bg.webp');
  background-size: cover;
  position: relative;
}
article {
  width: 100%;
  height: 100%;
}
.pixel1 {
  width: calc(404rem / 8);
  height: calc(154.6rem / 16);
  background-image: url('../images/poster7/pixel1.png');
  background-size: calc(404rem / 8) calc(154.6rem / 8);
  position: absolute;
  top: 55%;
  left: 30%;
  animation: pixel1 1s steps(1) infinite;
}
.pixel2 {
  width: calc(404rem / 8);
  height: calc(154.6rem / 16);
  background-image: url('../images/poster7/pixel1.png');
  background-size: calc(404rem / 8) calc(154.6rem / 8);
  position: absolute;
  top: 55%;
  left: 50%;
  animation: pixel1 1s steps(1) infinite reverse;
}
.pixel3 {
  width: calc(606rem / 8);
  height: calc(370rem / 16);
  background-image: url('../images/poster7/pixel3.png');
  background-size: calc(606rem / 8) calc(370rem / 8);
  position: absolute;
  top: 69%;
  left: 64%;
  animation: pixel3 1s steps(1) infinite reverse;
}
.pixel4 {
  width: calc(354rem / 8);
  height: calc(884rem / 16);
  background-image: url('../images/poster7/pixel4.png');
  background-size: calc(354rem / 8) calc(884rem / 8);
  position: absolute;
  top: 67%;
  left: 81%;
  animation: pixel4 1s steps(1) infinite reverse;
}
.traktor {
  display: block;
  position: absolute;
  top: 51%;
  left: 37%;
  width: 16%;
}
.punktir {
  width: 4%;
  height: 44%;
  background-image: url('../images/poster7/punktir.png');
  background-size: contain;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.punktir1 {
  left: 30%;
}
.punktir2 {
  left: 52%;
}
.column {
  width: 33.3%;
}
.punkt {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #111;
  position: relative;
  animation: punkt 8s infinite ease-in-out alternate;
}
.punkt1 {
  animation-delay: -7s;
}
.punkt2 {
  animation-delay: -12s;
}
.punkt3 {
  animation-delay: -1s;
}
.punkt4 {
  animation-delay: -9s;
}
.punkt5 {
  animation-delay: -24s;
}
.punkt6 {
  animation-delay: -30s;
}
.punkt7 {
  animation-delay: -5s;
}
.punkt8 {
  animation-delay: -19s;
}
.punkt9 {
  animation-delay: -2s;
}
.punkt10 {
  animation-delay: -13s;
}
.punkt11 {
  animation-delay: -3s;
}
.punkt12 {
  animation-delay: -14s;
}
.column:nth-of-type(2) .punkt {
  margin: 0 auto;
}
.column:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.circle {
  width: 20%;
  display: block;
  position: absolute;
  animation: circle 10s infinite ease-in-out;
}
.circle1 {
  top: 16%;
  left: 16%;
  animation-delay: -2s;
}
.circle2 {
  top: 28%;
  left: 28%;
  animation-delay: -4s;
}
.circle3 {
  top: 24%;
  left: 46%;
  animation-delay: -6s;
}
.circle4 {
  top: 38%;
  left: 50%;
}
@keyframes circle {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
/* .circle1 {
  animation: circle1 10s ease-in infinite;
}
.circle2 {
  animation: circle2 10s ease-in 2s infinite;
}
@keyframes circle1 {
  0% {
    top: -20%;
    left: 20%;
    transform: rotate(0);
  }
  50% {
    top: 42%;
    left: 20%;
    transform: rotate(-270deg);
  }
  100% {
    top: 50%;
    left: -20%;
    transform: rotate(-490deg);
  }
}
@keyframes circle2 {
  0% {
    top: -20%;
    left: 40%;
    transform: rotate(0);
  }
  50% {
    top: 42%;
    left: 40%;
    transform: rotate(-270deg);
  }
  100% {
    top: 50%;
    left: -20%;
    transform: rotate(-490deg);
  }
} */
@keyframes punkt {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes pixel1 {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: calc(154.6rem / 16);
  }
}
@keyframes pixel3 {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: 23.125rem;
  }
}
@keyframes pixel4 {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: calc(884rem / 16);
  }
}
@media screen and (max-width: 1279px) {
  main {
    width: 96%;
  }
  #poster {
    width: calc(1190rem / 1.6);
    height: calc(1684rem / 1.6);
  }
  .traktor {
    top: 53%;
    left: 32%;
    width: 10%;
  }
  .punktir2 {
    left: 40%;
  }
  .punkt {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  #poster {
    width: 100%;
    height: 141.42vw;
  }
  .pixel2 {
    left: 40%;
  }
}
